
@charset "utf-8";
/* CSS Document */
body {
	background: #FFFFFF ;
	font-size: 12px;
    color: #000;
	line-height:1.65em;
}
img{padding:0;
	margin:0;
	border:0;}
a {
	color: #000;
	padding:0px;
	text-decoration: none;
}

a:hover { 
	color: #FF3300;
	
}
.hide {
 display:none;
}
div#wrapper {
	background:#fff;
	margin:0 auto;
}



.homeLogin{border:1px solid #015944; height:18px;}




/* ���� */
.banner{background-image: url(../images/xxnr_05.jpg); float:left; width:100%; ;
	 height:34px;}
.banner ul{
    list-style:none;
	padding:0px;
	margin:0 auto;
	width:90%;
	 
	
}
.banner li{
	float:left; 
	width:100px; margin-left:0px;}
	
.banner li.wz {
	HEIGHT: 34px
}
.banner li.xt {
	 WIDTH:5px; HEIGHT: 34px ; 
}

.banner a{
	display:block;
	font-size:14px;
	padding:9px 0px 1px 0px;
	text-align:center;
	background-repeat: repeat-x;
	margin:0px;
}

.banner a:link, .banner a:visited{
	color:#fff;
	text-decoration: none;
	font-weight:bold
}
.banner a:hover{
	color: #FFFF00 ;
	text-decoration:none;
	font-weight:bold
	
}


.left{ width:269px; float:left; margin-top:5px;}
.right{ width:100%; float:center; margin-top:0px; margin-left:5px;}
.rights{ width:100%; float:center; margin-top:0px; margin-left:65px;}

.dqwz{font-size:13px; float:left; padding-left:5px; padding-top:10px;}
.zong{float:left; width:100%}
.nr{ width:90%;margin:0 auto; text-align:left;}
.cpmc{ float:left; padding-top:5px; font-weight:bold; padding-left:15px; color:#015944}
.an{ float:left; padding-top:5px; padding-left:5px;}
.cxnr{float:left; width:100%; background-color:#dae3e8; margin-top:5px; height:30px;}
.bgnr{float:left; width:100%; margin-top:5px;}
.bgnrys{}
.tab-cent{width:100%;margin:0 auto;}
.box-table-center {border:#7dbfb4 1px solid; height:100%;}
.bta{color: #015944}
.btb{color: #000}
.ta{ color:#FF6600}



#tzgg{ float:left; width:413px; margin-left:5px!important;margin-left:3px; margin-top:5px;}
.zong{float:left; width:100%}
.more{float:right; padding-right:10px; padding-top:10px;font-size:12px;}
.tzggz{ width:836px; float:center;}
.bttzgg{ color:#fff; float:left; padding-left:45px; padding-top:13px; font-size:12px; font-weight:bold;}
.xdha{ width: 394px;margin:0 auto;padding-left:5px; padding-top:5px; }
.xdh{ width: 394px;margin:0 auto; padding-left:5px;font-size:12px;}
.xdh ul li .shijian{padding: 0px 5px 0px 0px;
float: right;
text-align: center;
color:#015944;
font-size:12px;
}

.xdh ul li .xm{padding: 0px 35px 0px 0px;
float: right;
text-align: left;
color:#015944;
font-size:12px;
}

.xdh ul li .wj{padding: 0px 4px 0px 0px;
float: right;
text-align: left;
color:#015944;
font-size:12px;
}

.xdh ul li .xxb{padding: 0px 5px 0px 0px;
float: left;
text-align: center;
color:#015944;
font-size:12px;

}

.xdh ul li .txl{padding: 0px 80px 0px 0px;
float: right;
text-align: right;
color:#015944;
font-size:12px;

}

.xdh ul li .bm{padding: 0px 32px 0px 0px;
float: right;
text-align: right;
color:#015944;
font-size:12px;

}


.xdh ul {
margin:0px 5px 0px 0px;
	padding:2px 5px 3px 0px;	
	list-style:none;
	
}


.xdh ul li {
	padding:4px 5px 4px 0px!important;padding:3px 5px 3px 0px;
	
	text-align:left;  
	height:17px;	
}

.xdh ul li a:link,.xdh ul li a:visited{
	color:#000;
	text-decoration:none;
}
.xdh ul li a:hover {
	color:#f20510;
	text-decoration:none;
	
}
.xdh ul li .xxb{padding: 0px 50px 0px 0px;
float: right;
text-align: center;
color:#015944;
font-size:12px;

}
.xxxx{color:#015944; float:left; padding-top:10px; padding-left:30px;font-size:12px;}
.xz{color:#015944;padding-top:12px;float:left;font-size:12px;}
.za{color:#015944;}

.cpxx{ float:left; background-image:url(../images1/homebj_10.jpg); width:830px; height:124px; margin-top:5px; margin-left:5px!important;margin-left:3px;font-size:12px;}
.cpxx br{
	display:block;
	clear:both;

}
.cpxx ul{
	list-style:none;
	margin:0px;
	padding:12px 0px 0px 40px;
}
.cpxx ul li{
	text-align:center;
	float:left;
	width:148px; padding-left:7px;
	
}
.cpxx ul li img{
	border:none;
	margin:0px 0px 5px 0px;
	border:1px solid #999999;
	padding:0px;
}
.cpxx ul li a:link,.cpxx ul li a:visited{
	color:#666666;
	text-decoration:none;
}
.cpxx ul li a:hover{
	color:#d20005;
	text-decoration:none;
}


