body{margin:0; padding:0; font-size:9pt;background-color:#CCC; }
#login{margin:auto; width:975px; height:368px; margin-top:120px; }
#top_left{width:632px; height:89px; float:left;}
#top_left img {margin-left:33px;}
#top_center{width:248px; height:89px;float:left;}

#center_left{width:700px; height:190px; background:url(/TyreProject/jsp/images/login_09.jpg); float:left;}
#center_middle{width:248px; height:190px; float:left; background:url(/TyreProject/jsp/images/login_13.gif) repeat-y;}
#center_right{width:95px; height:190px; float:left; background:url(/TyreProject/jsp/images/login_11.jpg);}

#down_left{width:632px; height:89px; float:right; margin-top:20px;}

#user{ margin-left:40px; margin-top:30px; height:25px;}
#password{margin-left:40px; margin-top:25px; height:25px;}
#code1{ margin-left:40px; margin-top:18px; height:25px;}
input{width:120px; height:18px; border:solid 1px #aca7a7; font-size:9pt;}
#btn{margin-left:30px; margin-top:25px;height:25px; margin-right:28px; text-align:center;}
#btn a{display:block; line-height:25px; background: url(/TyreProject/jsp/images/bt_bg2.gif); border: solid 1px #760e0e; width:65px; float:left; margin-left:15px; text-decoration:none; color:#000;}
img{margin-top: 10px;}