@CHARSET "UTF-8";

span {
	letter-spacing: 7px;
	font-size: 400%;
	color: #f19149;
	font-weight: 200;
	margin-bottom: 40%;
	margin-left: 40%;
	text-align: center;
	text-shadow: 2px 2px 8px #e7ecec;
	margin-left: 7%
}